<div class="binding">
  <h1 class="title">Binding of Pry-saac</h1>
  <h5 class="title"><b>WASD</b> to move, <b>Arrow Keys</b> to shoot</h5>
  <div id="binding"></div>
</div>

{{#if showScoreSubmit}}
  <div class="high-scores">
    <h2 class="title white">Submit your High Score</h2>
    {{input value=playerName rows='1' placeholder="Your Name"}}
    {{input value=playerScore rows='1' readonly='true'}}
    <button {{action 'submitScore'}} class="submit">Submit Score</button>
  </div>
{{/if}}

{{#if showHighScore}}
  <div class="high-scores">
    <h2 class="title">Binding of Pry-saac High Scores</h2>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </thead>

      <tbody>
        {{#each score in model}}
          <tr>
            <td>{{score.name}}</td>
            <td>{{score.score}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
